<%= image_tag("Geert.jpg", alt: "Een foto van mij", id: "geert") %>

<p>Student, <%= link_to "leraar", cursus_programmeren_path %>, programmeur, gitaareigenaar. Ik <%= link_to "lees", boeken_path %> behoorlijk veel.</p>

<p>Ik heb het leven nog niet helemaal door, maar ik ben meestal gelukkig.</p>
