<% provide(:title, "Boeken") %>

<h1>Boeken die ik heb gelezen</h1>
<div id ="book-intro">
  Klik op een titel om de recensie te lezen. Ik update deze pagina als ik meer lees.
</div>

<% if admin? %>
  <p><%= link_to "Nieuw boek", new_book_path %></p>
<% end %>

<%= will_paginate @books %>

<div class="book-container">
  <% @books.each do |book| %>

    <%= render "index_listing", :book => book %>

  <% end %>
</div>

<%= will_paginate @books %>