<% provide(:title, "Boeken") %>

<h1>Boeken die ik heb gelezen</h1>
<p>
  Klik op een titel om de recensie te lezen. Ik update deze pagina als ik meer lees.
</p>

<% if admin? %>
  <p><%= link_to "Nieuw boek", new_book_path %></p>
<% end %>

<%= will_paginate @books %>

<% @books.each do |book| %>

  <%= render "index_listing", :book => book %>

<% end %>

<%= will_paginate @books %>