  <article class="post">
    <h1><%= link_to post.title, post %></h1>
    <div><%= post.body.html_safe %></div>
    <% if admin? %>
    <div>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Destroy", post_path(post), :confirm => "Zeker weten?", :method => :delete %>
    </div>
    <% end %>
  </article>