<% provide(:title, "Blog") %>

<% if admin? %>
  <div><%= link_to "Nieuwe post", new_post_path %></div>
<% end %>

<%= will_paginate @posts %>

<% @posts.each do |post| %>

  <%= render "index_listing", :post => post %>
  
<% end %>

<%= will_paginate @posts %>