<% provide(:title, "Blog") %>

<% if admin? %>
  <div><%= link_to "Nieuwe post", new_post_path %></div>
<% end %>

<%= will_paginate @posts %>

<div id="posts-container">

  <% @posts.each do |post| %>

    <%= render "index_listing", :post => post %>
    
  <% end %>

</div>

<%= will_paginate @posts %>
