<% provide(:title, @post.title) %>

<%= render "show_listing", :post => @post %>

<% if admin? %>
  <p><%= link_to "Edit", edit_post_path(@post) %></p>
  <p><%= link_to "Destroy", post_path(@post), :confirm => "Zeker weten?", :method => :delete %></p>
<% end %>

<%= render "comments", :post => @post %>




