/* variables, mixins, etc. */
$creamLight: #FCFFF5;
$creamDark: #D1DBBD;
$blueLight: #91AA9D;
$blueMedium: #3E606F;
$blueDark: #193441;
$orange: #8D5A1A;
$red: #743621;
$purple: #A788B2;
$green: #569956;

/* override bootstrap variables */
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$body-bg: $creamLight;
$text-color: $blueDark;
$link-color: $orange;

@import "bootstrap";


body {
  font-size: large;
}

#header-title {
  padding-bottom: 40px;
  font-size: 400%;
 
  a {
    color: $blueDark;
    text-decoration: none;
  }
}

#content {

  h1 {
    margin: 0px 0px 20px 0px;

    a {
      color: $blueDark;
    }
  }

  a {
    color: $orange;
    text-decoration: none;
  }
}

#sidebar {

  a {
    color: $blueDark;

    &:hover {
      background-color: $blueMedium;
      color: $creamDark;
    }
  }
}


#geert {
  width: 60%;
  height: auto;
  padding: 0px 0px 15px 0px;
}

.post {
  padding: 40px 0px 40px 0px;
  border-bottom: thin dotted $blueDark;

  &:first-child {
    padding: 0px 0px 40px 0px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.post-body {
  padding: 0px 0px 20px 0px;
}
