/* variables, mixins, etc. */
$creamLight: #FCFFF5;
$creamDark: #D1DBBD;
$blueLight: #91AA9D;
$blueMedium: #3E606F;
$blueDark: #193441;
$orange: #8D5A1A;
$red: #743621;
$purple: #A788B2;
$green: #569956;

/* override bootstrap variables */
$font-family-sans-serif: "Trebuchet MS", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;

$body-bg: $creamLight;
$text-color: $blueDark;
$link-color: $orange;

@import "bootstrap";


body {
  font-size: large;

  a, a:hover {
    text-decoration: none;
  }
}

#header-title {
  padding-bottom: 40px;
  font-size: 450%;
 
  a {
    color: $blueDark;
    text-decoration: none;
  }
}

#content {

  h1 {
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;

    a {
      color: $blueDark;
    }
  }

}

#sidebar {

  a {
    color: $blueDark;

    &:hover {
      background-color: $blueMedium;
      color: $creamDark;
    }
  }
}


#geert {
  width: 60%;
  height: auto;
  padding: 0px 0px 15px 0px;
}




.post-index-listing, .post {
  padding: 40px 0px 40px 0px;
  border-bottom: thin dotted $blueDark;

  h1 {
    padding: 0px 0px 15px 0px;
  }

  div {
    padding: 30px 0px 15px 0px;
  }

  a:hover {
    text-decoration: underline;
  }

  &:first-child {
    padding-top: 0px;
  }

  &:last-child {
    border: none;
  }


}

#comments {
  padding: 40px 0px 0px 0px;

  h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
  }

  .new_comment {
    padding: 0px 0px 40px 0px;
  }

  .author {
    font-style: italic;
    padding: 20px 0px 20px 0px;
  }

  .body {
    padding: 0px 0px 20px 0px;
    font-size: medium;
    max-width: 60%;
    border-bottom: thin dotted $blueDark;

    &:last-child {
      border-bottom: none;
    }
  }
}

#book-intro {
  padding: 0px 0px 30px 0px;
}

.book {
  padding: 0px 0px 40px 0px;

  .abstract {
    padding: 15px 0px 0px 0px;
    font-size: medium;
  }

  h2 {
    a {
      color: $blueDark;
      &:hover {
        text-decoration: underline;
      }
    }

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
  }
}

/* override CSS form styling */
.simplebox:focus {
  border: solid 1px $blueDark;
  box-shadow: inset 1px 1px 1px $blueLight;
  transition: none;
}

.simplebutton, .simplebutton:hover {
  color: $blueDark;
}

/* pagination buttons */

.pagination {
  padding: 0px 0px 40px 0px;
  margin: 0px 0px 0px 0px;

  background: $creamLight;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    background: $blueMedium;
    color: $creamDark;
    border: 1px solid $blueMedium; }
  .pagination a {
    text-decoration: none;
    color: $blueDark;
    border: 1px solid $blueDark; }
    .pagination a:hover, .pagination a:focus {
      color: $creamDark;
      background: $blueMedium;
      border-color: $blueMedium; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
